[submodule "thirdparty/bgfx"]
	path = thirdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "thirdparty/bx"]
	path = thirdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "thirdparty/bimg"]
	path = thirdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "thirdparty/bnet"]
	path = thirdparty/bnet
	url = https://github.com/bkaradzic/bnet.git
